<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css" th:href="@{/css/mercari.css}"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>Rakus Items</title>

<script>
	$(function(){
		var hostUrl = "http://localhost:8080/item/categories";
		
		// 必要な変数を先に宣言しておく
		var bigCategories; 
		var selectedBigCategory;
		
		// getJSONメソッドを使って、全情報が詰まった大カテゴリリストを取得する
		$.getJSON(hostUrl)
			.done(function(data){
				bigCategories = data;
				createBigCategorySelect(bigCategories);
			}).fail(function(){
				console.log('失敗');
			}).always(function(){
				// 成功しても失敗しても通る
			});
		
		// 大カテゴリのプルダウン作成
		function createBigCategorySelect(){
			var bigOptions = '<option value="">- 大カテゴリ -</option>';
			for (let i = 0; i < bigCategories.length; i++) {
				let bigCategory = bigCategories[i]; // 大カテゴリを1つ取得
				
				// 飛田さんのコード　三項演算子が使われている
				// 三項演算子　条件 ? trueの時の値 : falseの時の値
				// bigCategory.idが存在する場合、selected そうでない場合は空文字
				let selectedStr = $('#editCategoryForm [name=bigCategoryId]').val() == bigCategory.id ? ' selected' : '';			
				bigOptions += '<option value="' + bigCategory.id + '"' + selectedStr + '>' + bigCategory.name + '</option>';
			}
			$('#bigSelect').html(bigOptions);
		}
					
		// カテゴリーのプルダウンの選択文字列を連結
		function createCategoryName() {
			let categoryName = '';
			// 大カテゴリが選択されている場合
			if ($('#bigSelect option:selected').val() != '') {
				categoryName += $('#bigSelect option:selected').text();
			}
			return categoryName;
		}
		
		//　カテゴリの入力状況によって表示を変える
		$('.button-form').hide();
		$('#editName').hide();
		
		$('#bigSelect').on('change',function(){
			if ($('#bigSelect option:selected').val() == ''){
				$('#choice-message').show();
				$('.button-form').hide();
				$('#editName').hide();
			} else {
				$('#choice-message').hide();
				$('.button-form').show();
				$('#editName').show();
			}
		});		
		
	    // 検索ボタンクリック時のイベント処理設定
	    $('#button-edit').on('click', function() {
	      var beforeName = $('#bigSelect option:selected').text();
	      $('#editCategoryForm [name=beforeName]').val(beforeName);
	      $('#editCategoryForm [name=categoryName]').val(createCategoryName());
	      $('#editCategoryForm').submit();
	    });
	    
	    // 削除ボタンクリック時の処理
	    $('#button-delete').on('click',function(){
	    	if (confirm('削除してもよろしいですか')) {
	    		var id = $('#bigSelect option:selected').val();
		    	$('#deleteCategoryForm [name=bigCategoryId]').val(id);
		    	$('#deleteCategoryForm').submit();
	    	} else {
	    	}
	    });
	});
</script>




</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./list.html" th:href="@{/item/search}">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a th:href="@{/brand/search}">Brand</a></li>
          <li><a th:href="@{/category/search}">Category</a></li>
          <li><a id="logout" href="./login.html">Logout&nbsp;<i class="fa fa-power-off"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right">
          <span id="loginName">user: userName</span>
        </p>
      </div>
    </div>
  </nav>

  <!-- details -->
  <div id="input-main" class="container">
    <a type="button" class="btn btn-default" th:href="@{'/category/search?pageNumber=' + ${pageNumber}}"><i class="fa fa-reply"></i> back</a>
    <h2>Edit</h2>

    <!-- add form -->
    <form id="editCategoryForm" method="POST" th:action="@{/edit_category/update}" class="form-horizontal" th:object="${editCategoryForm}">
      <!-- pageNumber -->
      <input type="hidden" name="pageNumber" th:value="${pageNumber}">
      
      <div class="form-group">
      	 <label class="col-sm-2 control-label">bigCategory</label>
      	 <div class="col-sm-8">
      		<select id="bigSelect" class="form-control" name="bigCategoryId"></select><input type="hidden" th:field="*{bigCategoryId}"/>
      		<span id="choice-message" style="color:red">bigCategoryを選択してください</span><br>
     	 </div>
      </div>
     
      <div id="editName" class="form-group">
        <label for="inputName" class="col-sm-2 control-label">name</label>
        <div class="col-sm-8">
          <input type="hidden" name="beforeName">
          <input type="text" class="form-control" id="inputName" name="afterName" th:field="*{afterName}"/>
          <span style="color:red" th:errors="*{afterName}">error:may not be empty</span>
        </div>
      </div>
      
      <div class="form-group button-form">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="hidden" name="categoryName">
          <button id="button-edit" type="button" class="btn btn-default">Edit</button>
        </div>
      </div>
    </form>
    <div class="form-group button-form">
    	<div class="col-sm-offset-2 col-sm-10">
    		<form id="deleteCategoryForm" th:action="@{/delete_category}" method="POST" th:object="${deleteCategoryForm}">
    			<input type="hidden" name="bigCategoryId">
    			<button id="button-delete" type="button" class="btn btn-default">Delete</button>
    		</form>
    	</div>
    </div>
  </div>

</body>
</html>