<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css" th:href="@{/css/mercari.css}"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./list.html" th:href="@{/}">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="logout" href="./login.html">Logout <i class="fa fa-power-off"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right">
          <span id="loginName">user: userName</span>
        </p>
      </div>
    </div>
  </nav>

  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" href="./add.html" th:href="@{'/add_item?pageNumber=' + ${nowPageNumber}}"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form action="" class="form-inline" role="form">
        <div class="form-group">
          <input type="input" class="form-control" id="name" placeholder="item name"/>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <select class="form-control" name="parentCategory">
          	<option>- parentCategory -</option>
          	<span th:each="bigCategory :${bigCategoryList}">
            <option th:text="${bigCategory.categoryName}" th:value="${bigCategory.id}">parentCategory1</option>
            </span>
<!--             <option>parentCategory2</option>
            <option>parentCategory3</option>
            <option>parentCategory4</option>
            <option>parentCategory5</option> -->
          </select>
          <select class="form-control">
            <option>- childCategory -</option>
            <option>parentCategoryを選択してください</option>
           
<!--             <option>childCategory2</option>
            <option>childCategory3</option>
            <option>childCategory4</option>
            <option>childCategory5</option> -->
          </select>
          <select class="form-control">
            <option>- grandChild -</option>
            <option>childCategoryを選択してください</option>
         
<!--             <option>grandChild2</option>
            <option>grandChild3</option>
            <option>grandChild4</option>
            <option>grandChild5</option> -->
          </select>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="brand"/>
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>
	
    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
      	現在：<span th:text="${nowPageNumber}"></span>ページ目<br>
        <ul class="pager">
          <li class="previous" th:unless="${nowPageNumber} == 1"><a href="#" th:href="@{'?pageNumber='+ ${nowPageNumber - 1} }" ><span class="notTwiceBtn">&larr; prev</span></a></li>
          <li class="next" th:unless="${nowPageNumber} == ${countOfPage}"><a href="#" th:href="@{'?pageNumber='+ ${nowPageNumber + 1} }"><span class="notTwiceBtn">next &rarr;</span></a></li>
        </ul>
      </nav>
    </div>

    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${itemList}">
            <td class="item-name"><a href="./detail.html" th:href="@{'/item_detail?id='+ ${item.id} + '&pageNumber=' + ${nowPageNumber}}" th:text="${item.name}">Razer BlackWidow Chroma Keyboard</a></td>
            <td class="item-price" th:text="${item.price}">52.0</td>
            <td class="item-category" th:text="${item.category}"><a href="">Electronics</a> / <a href="">Computers &amp; Tablets</a> / <a href="">Components &amp; Parts</a></td>
            <td class="item-brand" th:text="${item.brand}"><a href="">Razer</a></td>
            <td class="item-condition" th:text="${item.condition}">3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous" th:unless="${nowPageNumber} == 1"><a href="#" th:href="@{'?pageNumber='+ ${nowPageNumber - 1} }"><span class="notTwiceBtn">&larr; prev</span></a></li>
          <li class="next" th:unless="${nowPageNumber} == ${countOfPage}"><a href="#" th:href="@{'?pageNumber='+ ${nowPageNumber + 1} }"><span class="notTwiceBtn">next &rarr;</span></a></li>
        </ul>
      </nav>
      <!-- ページ番号を指定して表示するフォーム -->
      現在：<span th:text="${nowPageNumber}"></span>ページ目<br>
      
      <div id="select-page">
        <form class="form-inline" method="post" th:action="@{/search_page}"> 
          <div class="form-group">
            <div class="input-group col-xs-6">
              <label></label>
              <input type="hidden" name="nowPageNumberInt" th:value="${nowPageNumber}">
              <input type="number" class="form-control" name="pageNumberForSearch"/>
              <!-- 総ページ数 -->
              <div class="input-group-addon" th:text="${countOfPage}">/ 20</div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
            <div th:text="${errorMessage}" style="color:red"></div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- jsファイルの読み込み -->
  <script src="../static/js/category.js" th:src="@{/js/category.js}"></script>
</body>
</html>